@model IEnumerable<WebApp_Sorteo.Models.Sorteo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-primary text-uppercase text-center">Listado de Sorteos</h1>

<p>
    <a asp-action="Create" class="btn btn-light">Crear Nuevo
        <i class="fas fa-plus-circle"></i></a>
    </a>
</p>
<table class="table" id="tblDatos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Tickets Totales
            </th>
            <th>
                Tickets Vendidos
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premio)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadTicketsTotales)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadTicketsVendidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioUnidad)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Premio!.Imagen)" class="img-fluid rounded-top"
                        alt="Imagen del premio" />

                </td>
                <td class="d-flex justify-content-around my-5">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info m-2">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success m-2">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger m-2">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
