@model WebApp_Sorteo.Models.Ticket

@{
    ViewData["Title"] = "Detalles del Ticket";
}

<div class="container mt-4">
    <h1 class="mb-4 text-info">Detalles del Sorteo</h1>
    <div class="card shadow-sm border-2">
        <div class="card-header">
            <h4 class="text-info">Información del ticket <i class="fa fa-ticket" aria-hidden="true"></i></h4>
        </div>
        <div class="card-body">
            <div class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.NumeroTicket)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.NumeroTicket)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FechaCompra)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FechaCompra)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.EstadoPago)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.EstadoPago)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.MontoPagado)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.MontoPagado)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Sorteo)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Sorteo!.Id)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Usuario)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Usuario!.UserName)
                </dd>
            </div>
        </div>
        <div class="card-footer text-end justify-content-between">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
            <a asp-action="Elegir" asp-route-id="@Model?.Id" class="btn btn-info">Pagar</a>
            <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
</div>
