@model WebApp_Sorteo.Models.Ticket
@{
    ViewData["Title"] = "Elegir ticket";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-primary text-center">Información del Ticket Seleccionado</h2>
            <h3 class="text-primary text-center">Ticket: @Model.NumeroTicket</h3>

            <div class="card text-white bg-dark">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h3 class="card-title">Datos del Sorteo</h3>
                            <p>
                                <b>Nombre:</b> @Model.Sorteo!.Nombre
                            </p>
                            <p>
                                <b>Descripcion:</b> @Model.Sorteo.Descripcion
                            </p>
                            <p>
                                <b>Precio del Ticket:</b> @Model.PrecioTicket
                            </p>
                        </div>
                        <div class="col">
                            <h3 class="card-title">Fechas importantes:</h3>
                            <p>
                                <b>Fecha de Inicio:</b> @Model.Sorteo.FechaInicio.ToString("dd-MM-yyyy")
                                <br>
                                <b>Fecha de Fecha Fin:</b> @Model.Sorteo.FechaFin.ToString("dd-MM-yyyy")
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted bg-dark m-2">
                    <p class="text-center text-primary">¿Desea comprar este ticket?</p>
                    <form asp-action="ElegirConfirmed" class="d-flex justify-content-center">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="Id" value="@Model.Id"
                                asp-route-id="@Model.Id" id="txtId">
                        </div>
                        <button type="submit" class="btn btn-outline-secondary">
                            Comprar
                            <i class="fa-solid fa-circle-check"></i>
                        </button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
}