@model IEnumerable<WebApp_Sorteo.Models.Ticket>
@using WebApp_Sorteo.Helpers
@{
     ViewData["Title"] = "Index";
     //*aplicar estilo css dependiendo si el ticket esta disponible o no
     string estilo = "";
     string applyStyle(EstadoPago x)
     {
          if (x != EstadoPago.Pendiente)
          {
               estilo = "background: linear-gradient(to bottom right, #f8f9fa, #e9ecef);";
          }
          else
          {
               estilo = "background: linear-gradient(to bottom right, #f8f9fa, #e9ecef);";
          }
          return estilo;
     }
     bool isEmptyList = !Model.Any();

}

<style>
     .custom-ticket {
          border: 2px solid #007bff;
          /* Borde azul como un ticket */
          border-radius: 10px;
          /* Bordes redondeados */
          /* Fondo degradado */
          position: relative;
          using WebApp_Sorteo.Helpers;
          /* Para posicionar el ícono */
          overflow: hidden;
          /* Para evitar que el ícono sobresalga */
     }

     .custom-ticket::before {
          content: '';
          position: absolute;
          top: 10px;
          right: 10px;
          width: 50px;
          height: 50px;
          background-color: #007bff;
          /* Color del ticket */
          border-radius: 50%;
          /* Hacerlo circular */
     }

     .card-title {
          font-weight: bold;
          /* Título en negrita */
     }

     .card-text {
          font-size: 14px;
          /* Tamaño de fuente más pequeño para la descripción */
     }
</style>
<div class="container mt-4">
     <h1 class="text-center text-capitalize text-primary">Listado de Tickets</h1>
     <h3 class="text-info text-center">Total Registros: @ViewData["TotalRegistros"]</h3>
     <section class="container-fluid mx-auto my-3 shadow-lg">
          <div class="row mx-auto my-3">
               @if (!isEmptyList)
               {
                    <form asp-action="Index" method="get">
                         <div class="col-lg-4 col-md-4 col-sm-4 d-flex">
                              <div class="input-group mb-3">
                                   <input type="text" class="form-control" placeholder="Buscar un numero..."
                                        aria-label="Buscar un numero" name="busqueda" value="@ViewData["BusquedaActual"]"
                                        aria-describedby="button-addon2" />
                                   <button class="btn btn-outline-success" type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                   </button>
                              </div>
                         </div>
                    </form>
               }
               else
               {
                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex">
                         <p class="text-secondary text-center">
                              No hay elementos a mostrar
                         </p>
                    </div>
               }
          </div>
          @if (!isEmptyList)
          {
               <partial name="_Pagination" />
          }
     </section>

     <div class="row">
          @foreach (var ticket in Model)
          {

               <div class="col-md-4 mb-4">
                    <div class="card custom-ticket bg-gradient" style="@applyStyle(ticket.EstadoPago)">
                         <div class="card-body text-info">
                              <h5 class="card-title">#@ticket.NumeroTicket</h5>
                              <h6 class="card-title">$ - @ticket.PrecioTicket</h6>
                              <p class="card-text">@ticket.Sorteo!.Nombre</p>
                              <div class="d-flex justify-content-between align-items-center">
                                   @if (User.IsInRole("Admin"))
                                   {
                                        <a asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-primary">
                                             Ver
                                             Detalles
                                        </a>
                                   }
                                   else
                                   {
                                        <a asp-action="Elegir" asp-route-id="@ticket.Id" class="btn btn-success">
                                             Elegir
                                        </a>
                                   }
                                   <i class="fas fa-ticket fa-lg text-primary w-25 h-25" aria-hidden="true"></i>
                              </div>
                         </div>
                    </div>
               </div>
          }
     </div>
     @if (!isEmptyList)
     {
          <partial name="_Pagination" />
     }
</div>
