@model IEnumerable<WebApp_Sorteo.Models.Premio>

@{
    ViewData["Title"] = "Premios";
}

<h1 class="text-center text-info">Listado de Premios</h1>

<section class="mx-auto p-1 border-2 shadow-lg d-flex justify-content-center">
    <a asp-action="Create" class="btn btn-info">Crear Nuevo
        <i class="fas fa-plus"></i>
    </a>
</section>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-inverse table-dark align-middle" id="example">
        <thead class="table-dark text-capitalize text-center">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        <img src="@item.Imagen" class="img-fluid rounded-top w-25 h-25" alt="@item.Descripcion" />
                    </td>
                    <td class="d-flex justify-content-evenly">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-light">
                            <i class="fas fa-pencil text-primary"></i>
                            Editar
                        </a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-light">
                            <i class="fas fa-eye text-info"></i>
                            Detalles
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-light">
                            <i class="fas fa-trash text-danger"></i>
                            Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    window.onload = function () {
        $(document).ready(function () {
            $('#example').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [15, 50, 100, 200, -1],
                    [15, 50, 100, 200, "Todos"]
                ]
            });

        });
    }
</script>
